use guix --container -F -N -P -m manifest.scm

export ANDROID_SDK_ROOT="/opt/android-sdk"
export ANDROID_NDK_ROOT="${ANDROID_SDK_ROOT}/ndk-bundle"
export SDKMAN_DIR="$HOME/.sdkman"
./scripts/setup.sh

source "${SDKMAN_DIR}/bin/sdkman-init.sh"
PATH_add ./kls/bin
PATH_add ${ANDROID_SDK_ROOT}/emulator/emulator
